<div id="tasks_div">
  <div id="tasks_heading">
    @if(getArchivedStatus()){
    <h1>Archived</h1>
    } @else {
      <h1>My tasks</h1>
    }
  </div>
  <div id="tasks_list">
    @if (getAllTasks().length === 0) {
      @if(getArchivedStatus()){
        <div class="tasks">No archived tasks!</div>
      } @else{
        <div class="tasks">Add a task from option below to get started!</div>
      }
    } @else {
<!--      @if(!getArchivedStatus()){-->
        @for (task of getAllTasks(); track task.id) {
            <div class="tasks" [ngClass]="{'selected': selectedTask === task}" (click)="setCurrentTask(task.id); selectTask(task); onClick()">{{ task.title }}</div>
<!--        }-->
      }
    }


  </div>
</div>
